html{

  overflow-y:scroll;

}

#textarea{

  border:1px solid #CCC;
  width:100%;
  max-height:300px;
  min-height:300px;
  background-color:white;
  padding:6px;
  overflow-y:scroll;
  resize: none;

}

#divarea{

  visibility: hidden;
  display: none;
  border: 1px solid #CCC;
  width:100%;
  max-height:300px;
  min-height:300px;
  background-color:white;
  padding:6px;
  overflow-y:scroll;

}

#logowrapper{

  text-align:center;
  margin-bottom:-15px;

}

footer{

  text-align:center;
  font-size:small;
  line-height:1.5;

}

#sidebar{

  text-align:center;

}

#status{
  padding:6px;
  padding-bottom:0px;
}